name: Generate CHANGELOG

on:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  generate-changelog:
    runs-on: ubuntu-latest
    steps:
      - name: Generate CHANGELOG
        uses: ./.github/actions/changelog
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
